.modalTrash_container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: transform 250ms ease;
}

.modalTrash_close{
    transform: scale(0);
}

.modalTrash_info{
    width: 300px;
    height: 150px;
    border-radius: 1.2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalTrash_btn{
    height: 30px;
    width: 80px;
    border-radius: .5rem;
    background-color: blue;
    color: white;
    font-weight: 500;
}